.c-dzcdPv.vfrc-button,
.c-jjMiVY.vfrc-button--secondary,
.c-kCDKCe.vfrc-button {
   background-color: red !important; /* Change background color to red */
   color: white !important; /* Change text color to white for contrast */
   border: none !important; /* Remove borders if necessary */