.vfrc-button:nth-child(1) {
    color: white; /* White text color for better contrast */
    background-color: green; /* Green background */
    border: 2px solid green; /* Green border */
}

.vfrc-button:nth-child(2) {
    color: white; /* White text color for better contrast */
    background-color: green; /* Green background */
    border: 2px solid green; /* Green border */
}


.vfrc-button:nth-child(3) {
    color: white; /* White text color for better contrast */
    background-color: green; /* Green background */
    border: 2px solid green; /* Green border */
}
